#myTab .tab-design {
    display: flex;
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
    background-color: var(--main-color);
}

#myTab .tab-design a {
    color: #fff;
}

#myTab .tab-design a:hover {
    color: var(--main-highlight);
}

#myTab .active {
    background-color: #fff;
    color: #000 !important;
}

.tab-design a {
    text-decoration: none;
    color: #000;
    width: 100%;
    font-weight: 600;
    padding: .6rem 0;
    text-transform: uppercase;
}

.tab-design a:hover {
    color: var(--main-color);
    text-decoration: none;
}