@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
/* * REPOSIVE CSS IMPORT * */
@import url("/css/responsive.css");

:root {
  --main-color: #343a40;
  --main-highlight: #82e79c;
  --main-highlight-2: #4e6bbb;
  --duplicate-color: #00000042;
  /* #059e5c */
  /* #5dbcd2 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
}
.brand {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
}
nav span,
nav i {
  color: var(--main-highlight);
}
.nav-link {
  color: #fff !important;
}
.input-container {
  margin: 1rem 0 1rem 0;
}
.post-cat-date,
.reply-date {
  color: #666;
  font-style: italic;
  font-size: .9rem;
}
.title_mini {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-style: italic;
}
.post-author {
  color: #fff !important;
}
.post-info-container {
  background-color: #EEE;
  padding: 1rem;
}
.reply-bold {
  font-weight: 500;
  font-style: italic;
}
.reply-like {
  color: var(--main-highlight-2);
}
.post-info-title {
  font-weight: 600;
}
.post-info-body {
  font-weight:600;
}
.title_big {
  font-size: 2rem;
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
}
.post-title {
  padding: .5rem 1rem;
  border-left: 2px solid var(--main-highlight-2);
  display: none;
}
.sort-button-small {
  display: none !important;
}
.createPost_container {
  border-left: 2px solid var(--main-highlight-2);
}
.createPost_container span {
  padding-left: 1rem;
}
.label {
  text-transform: uppercase;
  font-weight: 600;
}
.modal-header {
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem !important;
  border-bottom: 2px solid var(--main-highlight-2) !important;
}
.modal-header span {
  color: var(--main-highlight);
}
.modal-header p {
  margin: 0;
}
button.btn-white {
  background-color: var(--main-color);
  color: #fff;
}
.btn-white {
  text-transform: uppercase;
  font-weight: 500;
}
button.btn-white:hover {
  color: var(--main-highlight);
}
.post-container {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 3rem;
  background: #fff;
  position: relative;
  border-left: 0.2rem solid var(--main-highlight-2);
  border-right: 0.4rem solid var(--main-highlight);
  box-shadow: 2px 2px 2px #ccc;
}
.duplicate {
  filter: grayscale(100%);
}
#posts {
  max-height: 44.5rem;
  overflow: scroll;
}
.post-container-icon {
  position: absolute;
  color: #00000042;
  font-size: 1.6rem;
  left: 10px;
  top: 5px;
}
.post-like-container i {
  font-size: 1.5rem;
  color: #4e6bbb;
}
.parent-FAQ {
  position: relative;
}
.FAQ {
  max-height: 20rem;
  overflow: scroll;
}
.hideScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hideScroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.FAQ-icon {
  top: 90%;
  left: 4%;
}
.POST-icon {
  top: 95.7%;
  left: 4%;
}
.container-icon {
  z-index: 5;
  position: absolute;
  opacity: 0.5;
  font-size: 2rem;
  color: var(--main-highlight-2);
}
.FAQ-post-Container {
  border-left: 0.4rem solid var(--main-highlight);
  border-right: 0.2rem solid var(--main-highlight-2);
}
#myTab .tab-design {
  display: flex;
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
  background-color: var(--main-color);
}
#myTab .tab-design a {
  color: #fff;
}
#myTab .tab-design a:hover {
  color: var(--main-highlight);
}
#myTab .active {
  background-color: #fff;
  color: #000 !important;
}
.tab-design a {
  text-decoration: none;
  color: #000;
  width: 100%;
  font-weight: 600;
  padding: 0.6rem 0;
  text-transform: uppercase;
}
.tab-design a:hover {
  color: var(--main-color);
  text-decoration: none;
}
.sort-container{
    justify-content: end;
}
footer{
  background-color: var(--main-color);
  width: 100%;
  color: white;
}
.footer-body{
  /* height: 10rem; */
  /* width: 100%; */
}
.footer-title{
  font-size: 1.2rem;
}
.footer-item:not(:last-child){
  border-right: 2px solid var(--main-highlight);
}
.footer-contact:not(:last-child){
  border-right: 2px solid var(--main-highlight-2);
}
.footer-item{
  display: flex;
  flex-direction: column;
}
.footer-contact-container{
  display: flex;
  flex-direction: row;
}
.footer-body:last-child{
  margin-right: 0;
  border: 0;
}
.contact-information>h5{
  margin: 0;
  font-size: 1.1rem;
}

.footer-links{
  color: #fff;
}
.footer-links:hover{
  color: var(--main-highlight);
}
.footer-icons{
  font-size: 2rem;
}
.reply-container {
  padding: .5rem;
  box-shadow: 0px 2px 2px #ccc;
}
.reply-container:nth-child(odd) {
  border-left: 4px solid var(--main-highlight);
}
.reply-container:nth-child(even) {
  border-right: 2px solid var(--main-highlight-2);
}
