/***HIDDEN***/
.hidden{
    display: none;
}
/*************************MODALS***********************/
/* #loginModal .modal-content {
    width: 1280px;
} */

.container-own{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid black;
}
.container-own>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-control{
    width: auto;
}
/***FADE***/
.fade-modal{
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}